<script language="javascript">
  var t=null;
  t=setTimeout(time,1000);
  function time(){
    clearTimeout(t);
    var dt=new Date();
    var y=dt.getYear()+1900;
    var mm=dt.getMonth()+1;
    var d=dt.getDate();
    var weekday=["Mon","Feb","Wed","Thu","Fri","Sat","Sun"];
    var day=dt.getDay();
    var h=dt.getHours();
    var m=dt.getMinutes();
    var s=dt.getSeconds();
    if(h<10) {h+="0";}
    if(m<10) {m+="0";}
    if(s<10) {s+="0";}
    document.getElementById("time").innerHTML="现在时间是："+y+"年"+mm+"月"+d+"日 "+weekday[day]+"  "+h+":"+m+":"+s+":";
    t=setTimeout(time,1000);

  }
</script>
<h1>My first test </h1>
<a href=<%= @message %>>toNewPage</a>
<div id="time" class="time1"> </div>
